**/lib/
**/build/
**/target/
**/out/
**/.idea/
**/.gradle/
**/*.iml
**/.DS_Store
**/package_root/
**/jacoco-ut/
**/*.deb
**/*.swp
**/.cookies.jira
**/jacoco.exec
**/dependency-reduced-pom.xml
deb/
.idea/
HackApp/.idea
